body,
* {
    margin: 0;
    padding: 0;
}

html,
.main,
.etc,
.box {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

html,
body,
.main,
.etc {
    overflow: hidden;
}

.main {
    background: url('../img/timg.jpg') no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.box {
    z-index: 2;
    max-width: 620px;
    margin: auto;
    left: 0;
    right: 0;
    height: 50%;
    top: 0;
    bottom: 0;
}

.box>div {
    text-align: center;
}

.etc {
    z-index: 1;
    background-color: #000;
    opacity: 0.7
}

.title {
    background: url('../img/title.jpg') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.name {
    margin: 0 0 5px 0;
    margin-top: 20px;
    font-size: 1.5em;
    letter-spacing: 4px;
    color: #FFF;
}

.subtitle {
    font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 0.6em;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #CCCCCC;
    -webkit-font-smoothing: antialiased;
}

.long_line {
    width: 50%;
    margin: 20px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.14);
}

.descript {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    line-height: 1.7em;
    padding-left: 20px;
    text-align: center;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.short_line {
    width: 15%;
    margin: 20px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.14);
}

.wrapper a {
    display: inline-block;
    position: relative;
    /* width: 100%; */
    /* border-color: #666; */
    /* color: #666; */
    /* opacity: 0.8; */
    text-decoration: none;
    color: #fff;
    background-color: #3662c5;
    padding: 5px;
    border-radius: 5px;
}